.container{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 50px;
    margin-top: 40px;
    background-color: #E4E9FD;
    
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #b93fad;
    color: white;
  }
  .fa-linkedin {
    background: #2689d6;
    color: white;
  }
  .fa-github {
    background: #01070c;
    color: white;
  }
  .sites{
   
    display:inline-block;
  }
  .social{
    margin: auto;
    width: 40%;
    margin-top: 40px;
  }
  body{
    background-color:  #E4E9FD;
  }
  h1{
    text-align: center;
    color: #6886ff;
    font-size: 50px;
    padding-bottom: 30px;
  }
  .members{
    margin: auto;
    width: 50%;
    padding: 50px;
    margin-top: 40px;
    color:blueviolet;
  }
  p{
    text-align: center;
    color:grey;
    font-size: 15px;
  }
  h4{
    color: #6886ff;
  }
  .photo{
    height:100px;
    width: 70%;
    border-radius: 50%;
    margin-left: auto;
  margin-right: auto;
  display: block;
    
  }